body{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: teal;
}

.column1 {
  float: left;
  width: 70%;
}

.column2 {
  float: left;
  width: 30%;
}

#Welcome{
  padding-top: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

@media screen and (max-width: 900px) {
  .column1 {
    width: 100%;
  }
.column2 {
    width: 100%;
  }
#Welcome{
    padding-top: 0;

    text-align: center;
  }

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#gamepane{
display: none;
}



#main_block{
  margin: auto;
  width: 500px;
  border: 20px solid teal;
  padding: 10px;
  height: 600px;
  position: relative;
  border-radius: 25px;
}

#play_block{
  margin: auto;
  width: 75px;
  border: 0px solid white;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: skyblue;
  border-radius: 50px;
}

#mousemove_block{
  margin: auto;
  width: 500px;
  border: 20px solid teal;
  padding: 10px;
  height: 100px;
  position: relative;
  border-radius: 25px;
}

#gameStartText{
  margin: 0 auto;
  position: relative;
  /*top: 50%;*/
  left: 20%;
  color: teal;
}

#gameUpdate{
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 30%;
  color: teal;
}

#gamestatus{
  font-size: 30px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 20%;
  color: teal;
}
#square_block{
  margin: auto;
  width: 20px;
  border: 2px solid white;
  padding-bottom: 20px;
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: teal;
  border-radius: 50%;

}

.square_block:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


#Name{
/*  margin-left: 35%;*/
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#getName{
  max-width: 375px;
  color: teal;
  font-size: 40px;
  background-color: none;
  border: 0 solid white;
  outline: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: teal;
  color: #fff;
  text-align: right;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: -1;
}

.tooltip .tooltiptext {
  visibility: visible;
}